.top_info_wrapper {
  background: var(--light_grey);
}

.top_info_wrapper_box {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  .top_info_wrapper {
    display: none;
  }
}
