.header_wrapper {
  background: var(--blue);
  height: 400px;
  position: relative;
}

.header_wrapper-navigations {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 50%;
  width: 100%;
}

.header_wrapper-left,
.header_wrapper-right {
  padding: 0 20px;
  cursor: pointer;
}

.header_wrapper-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}

.header_wrapper-content {
  position: absolute;
  top: 25%;
  left: 15%;
}

.header_wrapper-image img {
  width: 100%;
  height: 400px;
   object-fit: cover;
}

.header_wrapper-right-img,
.header_wrapper-left-img {
  width: 34px;
}
